@font-face {
  font-family: "iconfont"; /* Project id 4660950 */
  src: url('//at.alicdn.com/t/c/font_4660950_3xyj9qjwzt4.woff2?t=1725004653538') format('woff2'),
       url('//at.alicdn.com/t/c/font_4660950_3xyj9qjwzt4.woff?t=1725004653538') format('woff'),
       url('//at.alicdn.com/t/c/font_4660950_3xyj9qjwzt4.ttf?t=1725004653538') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lanya-F:before {
  content: "\e633";
}

.icon-wifi1:before {
  content: "\e6bd";
}

.icon-saoyisao1:before {
  content: "\e60e";
}

.icon-shebei:before {
  content: "\e68c";
}

.icon-tianjia-yin:before {
  content: "\e68f";
}

.icon-24gl-mic:before {
  content: "\ea0a";
}

.icon-tongzhi:before {
  content: "\e651";
}

.icon-zhinengjiqiren:before {
  content: "\e714";
}

.icon-yanzhengma:before {
  content: "\e64d";
}

.icon-iconfontapple:before {
  content: "\e634";
}

.icon-zhifubaozhifu:before {
  content: "\e635";
}

.icon-weixin1:before {
  content: "\e6ea";
}

.icon-tianqiyubao:before {
  content: "\e605";
}

.icon-fengsu:before {
  content: "\e650";
}

.icon-kongqizhiliangicon:before {
  content: "\e611";
}

.icon-shouji:before {
  content: "\e608";
}

.icon-shidu:before {
  content: "\e601";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-youxiang:before {
  content: "\e610";
}

.icon-shebeijieru:before {
  content: "\e697";
}

.icon-tianqi:before {
  content: "\e62d";
}

.icon-dashujufenxi:before {
  content: "\e678";
}

.icon-zaixiankefu:before {
  content: "\ea6f";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-qq:before {
  content: "\e62b";
}

.icon-dianhuazixun:before {
  content: "\e670";
}

.icon-yanjing_yincang:before {
  content: "\eb45";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-saoyisao:before {
  content: "\e62e";
}

.icon-gengduo:before {
  content: "\e607";
}

.icon-shezhi:before {
  content: "\e624";
}

.icon-tuichudenglu:before {
  content: "\e61e";
}

.icon-bangzhuzhichi_chanpinwendang:before {
  content: "\e614";
}

.icon-maikefeng:before {
  content: "\e73b";
}
